.venv/
__pycache__/
*.py[cod]

checkpoints/**
!checkpoints/.gitkeep
models/**
!models/.gitkeep

data/raw/*.jsonl
data/clean/*.jsonl
data/tokenized/**
!data/tokenized/.gitkeep
data/instruction/*.jsonl
!data/instruction/.gitkeep

llama.cpp/
*.gguf
